<header id="main-header">  
    <div >
        <h1>CSP Collection</h1>
    </div>
</header>

<nav id="navbar">  
    <div class="container">
        <ul>
            <li><a href="/cspcollection">Home</a>  </li> 
            <li><a href="/cspcollection/start">How to Start Collecting</a>  </li> 
            <li><a href="/cspcollection/history">History</a> </li>
            <li><a href="/cspcollection/new">Add a CSP</a> </li>
        </ul>
    </div>
</nav>