<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <title>History</title>
</head>
<body>

    <%- include ("./partials/header.ejs") %> <br>
    <h2 id="history-h2">A Brief History of CSP Collecting</h2> 
    <article id="history-article">
Council Shoulder Patch or CSP collecting is a very popular Scouting collectible. 

In 1970, Boy Scout councils started issuing what we now call CSPs or council strips. In 1970, a letter was sent to every council. Stapled to the letter were three CSPs that came to be known as “The National Sample Set”. These were samples of what the new CSPs might look like from Circle Ten Council, Paul Bunyan, and “Columbiana Johnny Appleseed” which was a combination of two councils in Ohio. They had three shapes, all of which were used, but the shape of the Circle Ten sample became by far the most common. <br><br>

By the 1973 Jamboree at Moraine State Park in Pennsylvania, CSP collecting had become well established. Every Scout council issues one or more CSPs for us to wear on our left shoulders. Most of us have one on our uniform. CSPs often contain some images that tell something about the council. For example, Occoneechee Council from Raleigh, North Carolina, has the state bird, mammal, flower, and tree (cardinal, a gray squirrel, flowering Dogwood, pine), and image of the state (the council symbol), and the sun. Look at the CSP on your uniform. What images are there? Why? If you don’t know why, ask your Scoutmaster, and if he or she does not know, ask another leader or ask them to find out why. You also may be able to find out at your council’s web site. <br><br>

Before CSPs, most Scouts wore two patches with the names of their communities and states. Community and state strips were usually made on red cloth with a white border and lettering and no other pictures or images. (Other colors were sometimes used earlier and for Cub Scouts and other branches of Scouting.) Some Scouts, mostly adult Scouters wore red and white strips that just had the council name. <br><br>

CSPs are typically more detailed and colorful. Before CSPs, in some cases many years before, a few councils issued colorful shoulder patches that were worn like CSPs. Some people collect these pre-CSPs, for example from Chief Shabonna, Bronx Valley, and other councils. These are usually much harder to get than regular CSPs. <br><br>

-- Warren F. Kuhfeld  
    </article>
    
</body>
</html>