<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <title>My CSP Collection</title>
</head>
<body>
    <div class="container">
        <h1>My Collection of <br>
            Council Shoulder Patches <br>
            from the State of Georgia
        </h1>
        <nav>
            <a href="/cspcollection">Home</a>
            <a href="/cspcollection/new">Add a CSP</a>
        </nav>
        <% for (let i = 0; i < allCsps.length; i++) { %>
            <p> <a href="/cspcollection/<%= allCsps[i].id %>"><%= allCsps[i].council %> </a></p>
        

        <% } %>
    </div>
    
</body>
</html>