<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">

    <title>My CSP Collection</title>
</head>
<body>
    <h1>My Collection of <br>
        Council Shoulder Patches <br>
        from the State of Georgia
    </h1>
    <div class="container">


            <% for (let i = 0; i < allCsps.length; i++) { %>
                <div class="display">
                <img class="csphomeimage" src="<%= allCsps[i].simpleimage %>" alt="">
                <a class="csphomelink" href="/cspcollection/<%= allCsps[i].id %>"><%= allCsps[i].council %> </a> <br><br>
                </div> 
            <% } %>

    </div>
    
</body>
</html>