<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <title>Add a new CSP</title>
</head>
<body>
    <div class="container">
        <h1>Add a New CSP</h1>
        <form action="/cspcollection" method="POST">
            Image <input type="text" name="image"/><br/>
            Council: <input type="text" name="council"><br/>
            Issue <input type="text" name="issue"><br/>
            <input type="submit" name="" value="Add CSP"/>
        </form>  
    </div>
    
</body>
</html>