<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs") %>
    <title>Add a new CSP</title>
</head>
<body>
    <%- include ("./partials/header.ejs") %>
    <div class="container">
        <form action="/cspcollection" method="POST">
            State: <input type="text" name="state"/><br/>
            Image <input type="text" name="image"/><br/>
            Simple Image: <input type="text" name="simpleimage"/><br/>
            Council: <input type="text" name="council"><br/>
            Issue <input type="text" name="issue"><br/>
            Council Location <input type="text" name="location"><br/>
            <input type="submit" name="" value="Add CSP"/>
        </form>  
    </div>
    <div id="test-data">
    <h3>TEST DATA</h3>
    <p>STATE: Japan</p>
    <p>Image: /images/japan-far-east-council-s6c.png</p>
    <p>Simple image: /images/japan-simple-far-east-council-s6c.png</p>
    <p>Council: Far East Council</p>
    <p>Issue: S6c</p>
    <p>Location: https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1788.1596247820848!2d127.76622700000001!3d26.31616!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x23052793e39de24!2sScout%20Store%2C%20Far%20East%20Council%2C%20Boy%20Scouts%20of%20America!5e0!3m2!1sen!2sus!4v1614953753879!5m2!1sen!2sus
    </div>
</body>
</html>