<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <div class="container">
        <h1> Show Page</h1>
        <p>Council: <%= csp.council %></p>
        <p>Issue: <%= csp.issue %></p>
        <p><a href="/cspcollection"><button>Back to Home Page</button></a></p>



        </form>
    </div>

</body>
</html>