<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs") %>
    <title>Start Collecting</title>
</head>
<body>
    <%- include ("./partials/header.ejs") %> <br>
    <h2 id="history-h2">Start Your Collection!</h2>
    <article id="history-article">
    There are many ways that you can collect CSPs. Most people start by buying one extra from their council and saving it without sewing it on a uniform. Then you can buy a few extra CSPs and trade them for others. Some people start by trying to collect every CSP from their council, or one CSP from every council in their state. If you are in the OA, you may want to collect one CSP from every council in your section. Some Scouts just collect CSPs they like; others may have theme collections such as CSPs with birds or bears. As your collection grows, you may want to try to collect one from every current council (over 300) and later include merged councils (councils that no longer exist, over 200 more). Many merged councils are as easy to collect as current councils, although some are much harder. Some traders try to get the first CSP from every council. <br><br>

    There are other council shoulder patches besides CSPs. JSPs, or jamboree shoulder patches, are issued to a council’s contingent members. Some councils issue sets of JSPs for each jamboree. JSP trading is very popular at jamborees. Other shoulder patches include SAPs or Shoulder Activity Patches. These could be issued for camporees, camps, other events, for those who donate to a Friends of Scouting campaign, to Philmont or other high-adventure base contingents, and so on. SAPs have become more and more popular in recent years. <br><br>

    We often say “knowledge is key!” This means that it is very important to learn as much as you can about the area you collect. The more you know, the better you can do, both in life and in collecting. Most older traders are glad to help you learn. Also, there are books about CSPs and about many other areas of collecting. Ask other traders to show you their books. Eventually, as your collection grows, you will want to obtain books yourself. You can also learn more about CSPs on the web, for example at http://councilstrip.com/begin.html, http://www.gilwell.com/firstCSP/, and the ISCA site http://www.scouttrader.org/. <br><br>

    You can get a free list of all current and merged councils from http://councilstrip.com/begin.html. When you begin trading, just trade one-for-one: one of yours for one of theirs. If someone wants two for theirs or ten for theirs, find someone else to trade with. As your knowledge grows, and you learn which patches are more valuable and which are more common, you can start acquiring more valuable patches. There are thousands of CSPs that you can get with a one-for-one trade. Don’t worry that you may not get a certain cool patch that you really like. You will almost certainly find it available again. One of the hard parts about patch collecting is getting duplicate patches (often called “dups,” rhymes with “oops”) to trade. CSPs from your own council may cost a lot of money. CSPs costing more than 3 or 4 dollars each are not unusual. So you may not want to buy a bunch of CSPs from your own council to get started. <br><br>

    Your council’s Scout Shop may sell CSPs from other councils in your area. Some of these may be cheaper than your own. Your council’s Scout Shop may also be able to order patches from other councils that may be cheaper still. Depending on where you live, having the Scout Shop order them and picking them up there may be cheaper than having them shipped directly to you. You may have a leader in your troop who sometimes goes to your Scout Shop who can pick them up for you. <br><br>

    Another source for duplicate CSPs is at Trade-ORees and from patch dealers. You may be able to go to a TradeO-Ree and buy duplicates for as little as $2 each. I recently saw some duplicate CSPs for sale for 75 cents each! You have to be pretty lucky to find any that cheap. There are also professional patch dealers that you can find on the web that might sell you inexpensive duplicates. Just as knowledge is key, so is persistence. Shop around. Keep looking. The more you look, the more likely you are to find great deals. Ask traders you see at Trade-O-Rees if they have any duplicates they can sell inexpensively to help you get started. <br><br>
    -- Warren F. Kuhfeld 
    </article>
    <%- include ("./partials/footer.ejs") %>
</body>
</html>